@import-normalize;

* {
  background-color: #1b1b1d;
  color: white;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #2b3035;
  text-align: center;
  margin-top: auto;
  padding: 8px;
}

.card-text {
  text-align: center;
}

.card-title {
  text-align: center;
}